main{
    min-height: 50vh;
}

main section h2{
    text-align: center;
}

main section{
    margin-top: 3rem;
}

#form-login{
    width: 75vw;
    max-width: 800px;
    margin: auto;
}

#form-login div label{
    display: block;
    font-size: 1.5rem;
    padding: 20px 0 5px 0;
}

.control{
    width: 100%;
    height: 2rem;
}

.boton{
    display: block;
    width: 20%;
    min-width: 100px;
    height: 3rem;
    border: 0;
    border-radius: 20px;
    background-color: #1259c3;
    margin: auto;
    margin-top: 20px;
}

.boton:hover{
    cursor: pointer;
}